<p class="lead">商店分類</p>
<div class="list-group">
  <%= link_to('全部分類', stores_path(category: 0),
      class: "list-group-item #{"active" if current_page?(stores_path(category: 0))}") %>

  <% @categories.each do |category|%>
    <%= link_to(stores_path(category: category),
      class: "list-group-item  #{"active" if current_page?(stores_path(category: category))}") do %>
      <%= show_category_badge(category) %>
      <%= category.name %>
    <% end %>
  <% end %>
</div>
