<p class="lead">商店分類</p>
<div class="list-group">
    <a href="#" class="list-group-item">熱門商店</a>
    <a href="#" class="list-group-item">中式菜餚</a>
    <a href="#" class="list-group-item">日式料理</a>
    <a href="#" class="list-group-item">韓式風味</a>
</div>
